.btnBack:hover {
    -fx-opacity: 1;
}

.btnLogin {
    -fx-background-color: #4f5b62;
}

.btnLogin:hover {
    -fx-background-color: #62727b !important;
    -fx-text-fill: #4db6ac;
}

.allButton {
    -fx-background-color:  #718792;
    -fx-background-radius: 90;
}

.allButton:hover {
    -fx-background-color: #819ca9;
    -fx-text-fill: #000000;
}

.txtFont {
    -fx-text-fill: #f4f4f4;
}

.txtFont:focused {
    -fx-border-color: transparent transparent #558b2f transparent;
    -fx-text-fill: #f4f4f4;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: derive(gray, 100%);
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-padding: -2;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.text-area {
    -fx-font-family: Arial, sans-serif;
    -fx-highlight-fill: #ffff;
    -fx-highlight-text-fill: #fff;
    -fx-text-fill: #ffff;
    -fx-border-color: #000;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content{
    -fx-background-color: transparent, #263238;
}

.textField {
    -fx-text-fill: #eeeeee;
    -fx-font-family: Arial !important;
}

.msgBox {
    -fx-background-color: #455a64;
    -fx-background-radius: 70;
    -fx-font-size: 15px;
    -fx-text-fill: #eeeeee;
    -fx-font-family: Arial !important;
}

.textFlow{
    -fx-background-color: linear-gradient(to left, #8213f5, #5000a2);
    -fx-background-insets: -5 -10 -5 -5;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.08),2,1.0,0.5,0.5);
    -fx-shape: "M 94.658379,129.18587 H 46.277427 c -3.545458,0.23354 -5.32763,-1.59167 -5.14193,-4.67449
    v -19.39913 c 0.405797,-3.73565 2.470637,-4.56641 5.14193,-4.90821 h 43.706464 c 2.572701,0.2361 4.604321,
    1.68288 4.674488,4.90821 v 19.39913 c 0.436089,3.14572 2.890695,3.57304 4.908212,4.67449 z";
}

.textFlowFlipped{
    -fx-background-color: linear-gradient(to left, #075aad, #0523b9);
    -fx-background-insets: -5 -5 -5 -10;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.08),2,1.0,-0.5,-0.5);
    -fx-shape: "m 46.030545,129.18592 h 48.380952 c 3.54546,0.23355 5.32763,-1.59167 5.14193,-4.67449
    V 105.1123 c -0.4058,-3.73565 -2.47064,-4.56641 -5.14193,-4.90821 H 50.705033
    c -2.572701,0.2361 -4.604321,1.68288 -4.674488,4.90821 v 19.39913
    c -0.436089,3.14572 -2.890695,3.57304 -4.908212,4.67449 z";
}
